/* Connecting Fonts */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../media/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../media/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../media/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Lora-Regular';
    src: url('../media/fonts/Lora/Lora-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Style */
header {
    width: 100%; 
    height: 90px;
    background-color: #686868;
}

header .header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

header .header a {
    padding: 16px 0 0 0;
    font-size: 35px;
    font-family: 'Montserrat-SemiBold';
    text-decoration: none;
    color: white;
}

header .header a:hover {
    scale: 1.2;
}

header .header a:active {
    opacity: 0.5;
}

header .header p {
    padding: 16px 0 0 0;
    font-size: 35px;
    font-family: 'Montserrat-ExtraBold';
    color: white;
}

/* Footer Style */
footer {
    width: 100%;
    height: 370px;
    background-color: #686868;
}

footer .footer {
    flex-shrink: 0;
    width: 90%;
    height: 370px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

footer .logo {
    width: 330px;
    height: 330px;
    padding: 20px 0 0 0;
}

footer .footer .links {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer .links a {
    font-size: 35px;
    font-family: 'Montserrat-SemiBold';
    text-decoration: none;
    color: white;
}

footer .footer .links a:hover {
    scale: 1.1;
}

footer .footer .links a:active {
    opacity: 0.5;
}

footer .footer .split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer .split .socialsIcons img {
    width: 90px;
    height: 90px;
}

footer .footer .split .copyright p {
    font-size: 20px;
    font-family: 'Montserrat-SemiBold';
    color: white;
    text-align: center;
}

footer .footer .information p {
    display: flex;
    padding: 10px 0 0 0;
    font-size: 30px;
    font-family: 'Montserrat-SemiBold';
    color: white;
    text-align: right;
}

/* Product List Style */
.productList {
    flex-grow: 1;
    padding: 100px 0 100px 0;
    width: 70%;
    margin: auto;
}

.line {
    display: inline-block;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

.product {
    width: 379px;
    height: 694px;
    border: 4px solid #686868;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.product img {
    margin: 20px auto;
    width: 273px;
    height: 373px;
}

.product h4 {
    font-size: 32px;
    font-family: 'Montserrat-Bold';
    color: #5383ff;
    text-align: center;
}

.productList .line .product a {
    width: 357px;
    height: 143px;
    font-size: 28px;
    font-family: 'Lora';
    text-align: center;
    overflow-wrap: break-word;
    margin: 10px auto 0 auto;
    text-decoration: none;
    color:black;
}

.productList .line .product a:hover {
    text-decoration: underline  ;
}

.productList .line .product input[type="button"] {
    width: 200px;
    height: 80px;
    background-color: rgb(255, 255, 163);
    font-size: 40px;
    font-family: 'Montserrat-SemiBold';
    margin: auto auto 20px auto;
}

/* Where to find us Style */
.whereToFindUs {
    flex-grow: 1;
    width: 70%;
    margin: auto;
}

.whereToFindUs .contacts h2 {
    font-size: 40px;
    font-family: 'Montserrat-SemiBold';
    padding: 30px 0 0 0;
}

.whereToFindUs .contacts p {
    font-size: 32px;
    font-family: 'Lora-Regular';
    padding: 30px 0 30px 0;
}

.whereToFindUs .contacts a {
    font-size: 32px;
    font-family: 'Lora-Regular';
    text-decoration: none;
    color: black;
}

.whereToFindUs .contacts a:hover {
    text-decoration: underline;
}

.whereToFindUs .adres h2 {
    font-size: 40px;
    font-family: 'Montserrat-SemiBold';
    padding: 0 0 30px 0;
}

.whereToFindUs .adres p {
    font-size: 32px;
    font-family: 'Lora-Regular';
}

.whereToFindUs .adres img {
    width: 1200px;
    height: 800px;
    border: 4px solid #686868;
    border-radius: 30px;
    margin: 30px 0 30px 0;
}

/* aboutUs Style*/
.aboutUs {
    padding: 20px 0 20px 0;
    flex-grow: 1;
    width: 70%;
    margin: auto;
}

.aboutUs .company {
    display: flex;
    justify-content: space-between;
}

.aboutUs .logo img {
    width: 350px;
    height: 350px;
}

.aboutUs .slogan h1 {
    margin: 115px 0 0 20px;
    font-size: 96px;
    font-family: 'Montserrat-SemiBold';
}

.aboutUs p {
    text-align: center;
    padding: 60px 0 0 0;
    font-size: 40px;
    font-family: 'Lora-Regular';
}

.aboutUs h2 {
    padding: 60px 0 0 0;
    font-size: 64px;
    font-family: 'Montserrat-SemiBold';
    text-align: center;
}

.slider {
    height: 300px;
    padding: 100px 0 0 0;
    text-align: center;
}

/* Comics Style */
.comics {
    padding: 20px 0 20px 0;
    flex-grow: 1;
    width: 70%;
    margin: auto;
}

.comics .navigation {
    display: flex;
    justify-content: space-between;
}

.comics .navigation a {
    font-size: 25px;
    font-family: 'Lora-Regular';
    text-decoration: none;
    color: black;
}

.comics .navigation a:hover {
    text-decoration: underline;
}

.comics h1 {
    padding: 20px 0 0 0;
    font-size: 50px;
    font-family: 'Montserrat-SemiBold';
}

.comics .detail {
    display: flex;
}

.comics .detail .comicsImg img {
    width: 400px;
    height: 550px;
}

.comics .detail .detailText {
    padding: 0 0 0 50px;
}

.comics .detail .detailText .price {
    display: flex;
    justify-content: space-between;
}

.comics .detail .detailText .price h2 {
    font-size: 40px;
    font-family: 'Montserrat-SemiBold';
    color:#5383ff;
    padding: 25px 0 0 0;
}

.comics .detail .detailText .price input[type="button"] {
    width: 300px;
    height: 100px;
    background-color: rgb(255, 255, 163);
    font-size: 40px;
    font-family: 'Montserrat-SemiBold';
}

.comics .detail .detailText .description h3 {
    padding: 50px 0 20px 0;
    font-size: 35px;
    font-family: 'Montserrat-SemiBold';
}

.comics .detail .detailText .description p {
    font-size: 20px;
    font-family: 'Lora-Regular';
}

.comics .characteristics h3 {
    padding: 30px 0 0 0;
    font-size: 35px;
    font-family: 'Montserrat-SemiBold';
    text-align: center;
}
.comics .characteristics p {
    font-size: 20px;
    font-family: 'Lora-Regular';
}